.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
}

.pagination-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.pagination-link.active {
  background-color: #182093;
  color: white;
}

.pagination-link:hover {
  background-color: #e9ecef;
}