.floraInfo {
  padding: 0 1rem 50px;
}

.floraTitle {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.floraInfoRow {
  display: flex;
  justify-content: space-between;
}

.floraField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 1rem;
}

.floraField p {
  color: #000;
}

.floraInput {
  width: 98%;
  margin-bottom: 0.7rem;
}

.floraFieldname {
  font-size: 0.8rem;
}

.phenotypicCharacters {
  width: 47%;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.175);
}

.genotypicCharacters {
  width: 48%;
  height: fit-content;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.175);
}

.floraControlPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 1rem 0 0;
}

.floraControlPanel .blueBtn {
  background-color: #fff;
  border: 1px solid #183092;
  color: #183092;
  padding: 6px 12px;
}

.floraControlPanel .blueBtn:hover {
  background-color: #183092;
  color: #fff;
}

.floraControlPanel .redBtn {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #fff;
  padding: 6px 12px;
}

.floraControlPanel .redBtn:hover {
  background-color: #bb2d3b;
  border: 1px solid #bb2d3b;
  color: #fff;
}
