.formContainer {
  margin: 16px auto;
  padding: 0 1.5rem;
  max-width: 800px;
  width: 100%;
}

.formTitle {
  color: #171717;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2px;
  text-align: left;
}

.hr {
  border: none;
  border-top: 1px solid #e2e2e2;
  margin: 1rem 0;
}

.form {
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  padding: 2rem;
}

.fields {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.formActions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.unknown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 820px;
}