.NewsCard {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: rgba(0,0,0,.075) !important;
  }
  &:nth-child(odd) {
    background-color: rgba(0,0,0,.025);
  }
  &:nth-child(even) {
    background-color: #ffffff;
  }
} 

.NewsTitle {
  display: flex;
  align-items: center;
  column-gap: 8px;

    h5 {
      font-weight: 700;
      font-style: normal;
      color: #525252;
    }

    a {
      color: #183092;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #132675;
      }
    }
}
