.header {
  width: 100%;
  background-color: #192345;
}

.customContainer {
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}

.headerInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.header nav {
  padding: 1rem 0;
}

.header .logo {
  width: 250px;
  height: 64px;
}

.header .logo img {
  width: 100%;
  height: 100%;
  background: transparent;
}

.header .login {
  width: 64px;
  height: 44px;
  padding: 8px;
  border-radius: 12px;
  background-color: #192345;
  color: #fff;
  cursor: pointer;
  border: none;
}

.header .pageLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  column-gap: 24px;
}

.header .pageLinks a {
  text-decoration: none;
  color: #fff !important;
}

.white {
  color: #fff !important;
}

.burgerMenu {
  display: none;
}

@media (max-width: 640px) {
  .header .pageLinks {
    display: none;
  }

  .header .login {
    margin-right: 8px;
  }

  .burgerMenu {
    display: block;
  }
}